# Importing Necessary Libraries

In [ ]:
import pandas as pd
import numpy as np
# import drive
import sys
import csv
import glob
import os

# Getting the path and listing every file present in it.

In [ ]:
# path = os.getcwd()
# files = os.listdir(path)
# files
from google.colab import files

uploaded = files.upload()

Saving 2023-01-06.xlsx to 2023-01-06.xlsx
Saving 2023-01-09.xlsx to 2023-01-09.xlsx
Saving 2023-01-10.xlsx to 2023-01-10.xlsx
Saving 2023-01-11.xlsx to 2023-01-11.xlsx
Saving 2023-01-12.xlsx to 2023-01-12.xlsx
Saving 2023-01-13.xlsx to 2023-01-13.xlsx
Saving 2023-01-16.xlsx to 2023-01-16.xlsx
Saving 2023-01-17.xlsx to 2023-01-17.xlsx
Saving 2023-01-18.xlsx to 2023-01-18.xlsx
Saving 2023-01-19.xlsx to 2023-01-19.xlsx
Saving 2023-01-20.xlsx to 2023-01-20.xlsx
Saving 2023-01-23.xlsx to 2023-01-23.xlsx
Saving 2023-01-24.xlsx to 2023-01-24.xlsx
Saving 2023-01-25.xlsx to 2023-01-25.xlsx
Saving 2023-01-26.xlsx to 2023-01-26.xlsx
Saving 2023-01-27.xlsx to 2023-01-27.xlsx
Saving 2023-01-30.xlsx to 2023-01-30.xlsx
Saving 2023-01-31.xlsx to 2023-01-31.xlsx

# Searching files that endswith ".xlsx"

In [ ]:
files_xls = [f for f in uploaded if f.endswith('.xlsx')]
files_xls

['2023-01-06.xlsx',
 '2023-01-09.xlsx',
 '2023-01-10.xlsx',
 '2023-01-11.xlsx',
 '2023-01-12.xlsx',
 '2023-01-13.xlsx',
 '2023-01-16.xlsx',
 '2023-01-17.xlsx',
 '2023-01-18.xlsx',
 '2023-01-19.xlsx',
 '2023-01-20.xlsx',
 '2023-01-23.xlsx',
 '2023-01-24.xlsx',
 '2023-01-25.xlsx',
 '2023-01-26.xlsx',
 '2023-01-27.xlsx',
 '2023-01-30.xlsx',
 '2023-01-31.xlsx']

In [ ]:
##  Creating an empty DataFrame

df = pd.DataFrame()

In [ ]:
for f in files_xls:
    data = pd.read_excel(f, '25号機')
    df = df.append(data)

In [ ]:
df

,ユーザーID,モデルID,モデル名,カメラID,カメラ名,カメラエリアID,クラスID,クラス名,精度スコア,作業者名,指示書名,検出日時,経過時間
0,2,1,Bobbin_v1.0,3,25号機,42,999,NO_DATA,0.00,1,0,2023-01-06 23:59:59,0
1,2,1,Bobbin_v1.0,3,25号機,43,999,NO_DATA,1.00,1,0,2023-01-06 23:59:46,13
2,2,1,Bobbin_v1.0,3,25号機,44,0,稼働,0.06,1,0,2023-01-06 23:59:46,0
3,2,1,Bobbin_v1.0,3,25号機,49,999,NO_DATA,1.00,1,0,2023-01-06 23:59:46,0
4,2,1,Bobbin_v1.0,3,25号機,51,0,稼働,0.93,1,0,2023-01-06 23:59:46,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1591,2,1,Bobbin_v1.0,3,25号機,46,0,稼働,0.95,1,0,2023-01-31 00:07:12,279
1592,2,1,Bobbin_v1.0,3,25号機,47,999,NO_DATA,1.00,1,0,2023-01-31 00:07:12,0
1593,2,1,Bobbin_v1.0,3,25号機,46,0,稼働,0.95,1,0,2023-01-31 00:02:34,278
1594,2,1,Bobbin_v1.0,3,25号機,47,999,NO_DATA,1.00,1,0,2023-01-31 00:02:34,0
1595,2,1,Bobbin_v1.0,3,25号機,42,0,稼働,0.00,1,0,2023-01-31 00:00:00,154

# Renaming The Columns

In [ ]:
df.rename(columns = {'ユーザーID':'User_ID', 'モデルID':'Model_ID', 'カメラID':'Camera ID', 'カメラ名':'Camera_Name',
                     'カメラエリアID':'Camera_Area_ID', 'クラスID':'Class_ID', 'クラス名':'Class_Name', '精度スコア':'Accuracy_Score',
                     '作業者名':'Worker_Name', '指示書名':'Instruction_Title', '検出日時':'Detection_Date_And_Time', '経過時間':'Elapsed_Time'
                    }, inplace = True)

In [ ]:
df['Time'] = df['Detection_Date_And_Time'].str.split(' ')
df['Time']

0       [2023-01-06, 23:59:59]
1       [2023-01-06, 23:59:46]
2       [2023-01-06, 23:59:46]
3       [2023-01-06, 23:59:46]
4       [2023-01-06, 23:59:46]
                 ...
1591    [2023-01-31, 00:07:12]
1592    [2023-01-31, 00:07:12]
1593    [2023-01-31, 00:02:34]
1594    [2023-01-31, 00:02:34]
1595    [2023-01-31, 00:00:00]
Name: Time, Length: 56179, dtype: object

In [ ]:
df

,User_ID,Model_ID,モデル名,Camera ID,Camera_Name,Camera_Area_ID,Class_ID,Class_Name,Accuracy_Score,Worker_Name,Instruction_Title,Detection_Date_And_Time,Elapsed_Time,Time
0,2,1,Bobbin_v1.0,3,25号機,42,999,NO_DATA,0.00,1,0,2023-01-06 23:59:59,0,"[2023-01-06, 23:59:59]"
1,2,1,Bobbin_v1.0,3,25号機,43,999,NO_DATA,1.00,1,0,2023-01-06 23:59:46,13,"[2023-01-06, 23:59:46]"
2,2,1,Bobbin_v1.0,3,25号機,44,0,稼働,0.06,1,0,2023-01-06 23:59:46,0,"[2023-01-06, 23:59:46]"
3,2,1,Bobbin_v1.0,3,25号機,49,999,NO_DATA,1.00,1,0,2023-01-06 23:59:46,0,"[2023-01-06, 23:59:46]"
4,2,1,Bobbin_v1.0,3,25号機,51,0,稼働,0.93,1,0,2023-01-06 23:59:46,0,"[2023-01-06, 23:59:46]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1591,2,1,Bobbin_v1.0,3,25号機,46,0,稼働,0.95,1,0,2023-01-31 00:07:12,279,"[2023-01-31, 00:07:12]"
1592,2,1,Bobbin_v1.0,3,25号機,47,999,NO_DATA,1.00,1,0,2023-01-31 00:07:12,0,"[2023-01-31, 00:07:12]"
1593,2,1,Bobbin_v1.0,3,25号機,46,0,稼働,0.95,1,0,2023-01-31 00:02:34,278,"[2023-01-31, 00:02:34]"
1594,2,1,Bobbin_v1.0,3,25号機,47,999,NO_DATA,1.00,1,0,2023-01-31 00:02:34,0,"[2023-01-31, 00:02:34]"
1595,2,1,Bobbin_v1.0,3,25号機,42,0,稼働,0.00,1,0,2023-01-31 00:00:00,154,"[2023-01-31, 00:00:00]"

# Replacing appropriate values for reference

In [ ]:
df['Class_ID'] = df['Class_ID'].replace([0, 999], [1, 0])
df['Class_Name'] = df['Class_Name'].replace(['稼働', 'NO_DATA','NOT_DETECTED'], ['moving', 'stop','ND'])

In [ ]:
df['Class_Name'].value_counts()

moving    28089
stop      28081
ND            9
Name: Class_Name, dtype: int64

In [ ]:
df['Camera_Area_ID'].value_counts().sort_index()  ##  Only to check number of values for each "Camera_Area_ID"

42     2333
43     4330
44     4202
45     3186
46     6332
47     7211
48     1885
49     2060
50     2192
51     4545
52     7619
53    10284
Name: Camera_Area_ID, dtype: int64

# Changing "Detection_Date_And_Time" column to "datetimens[64]" object and then extracting the "Date" and "Time" column.

In [ ]:
df['Detection_Date_And_Time'] = pd.to_datetime(df['Detection_Date_And_Time'])
df['Date'] = df['Detection_Date_And_Time'].dt.date
df['Time'] = df['Detection_Date_And_Time'].dt.time

# Taking Only the Required Columns for `Analysis`

In [ ]:
df = df[['Camera_Area_ID', 'Camera_Name', 'Class_Name', 'Date', 'Time']]

In [ ]:
df.dtypes

Camera_Area_ID     int64
Camera_Name       object
Class_Name        object
Date              object
Time              object
dtype: object

In [ ]:
df['Date'] = df['Date'].astype('str')

<ipython-input-544-439c6ef1dc9e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Date'] = df['Date'].astype('str')

In [ ]:
df['Time'] = df['Time'].astype('str')

<ipython-input-545-ec97daae9899>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Time'] = df['Time'].astype('str')

In [ ]:
##  For " 2023-01-06 "


res6 = df.loc[df['Date'] == '2023-01-06', ['Camera_Area_ID', 'Class_Name', 'Date', 'Time','Camera_Name']]

In [ ]:
res6

      Camera_Area_ID Class_Name        Date      Time Camera_Name
0                 42       stop  2023-01-06  23:59:59        25号機
1                 43       stop  2023-01-06  23:59:46        25号機
2                 44     moving  2023-01-06  23:59:46        25号機
3                 49       stop  2023-01-06  23:59:46        25号機
4                 51     moving  2023-01-06  23:59:46        25号機
...              ...        ...         ...       ...         ...
4588              51     moving  2023-01-06  14:45:25        25号機
4589              42       stop  2023-01-06  14:38:51        25号機
4590              43     moving  2023-01-06  14:38:51        25号機
4591              53       stop  2023-01-06  07:57:27        25号機
4592              42         ND  2023-01-06  00:00:00        25号機

[4593 rows x 5 columns]

In [ ]:
##  For " 2023-01-09"


res9 = df.loc[df['Date'] == '2023-01-09', ['Camera_Area_ID', 'Class_Name', 'Date', 'Time','Camera_Name']]

In [ ]:
res9

      Camera_Area_ID Class_Name        Date      Time Camera_Name
0                 42     moving  2023-01-09  23:59:59        25号機
1                 46     moving  2023-01-09  23:59:53        25号機
2                 48       stop  2023-01-09  23:59:53        25号機
3                 52     moving  2023-01-09  23:59:53        25号機
4                 53       stop  2023-01-09  23:59:53        25号機
...              ...        ...         ...       ...         ...
2224              50       stop  2023-01-09  10:22:32        25号機
2225              51     moving  2023-01-09  10:22:32        25号機
2226              44       stop  2023-01-09  08:51:32        25号機
2227              45     moving  2023-01-09  08:51:32        25号機
2228              42       stop  2023-01-09  00:00:00        25号機

[2229 rows x 5 columns]

In [ ]:
##  For " 2023-01-10 "


res10 = df.loc[df['Date'] == '2023-01-10', ['Camera_Area_ID', 'Class_Name', 'Date', 'Time','Camera_Name']]
res10

      Camera_Area_ID Class_Name        Date      Time Camera_Name
0                 42     moving  2023-01-10  23:59:59        25号機
1                 51     moving  2023-01-10  23:59:45        25号機
2                 52       stop  2023-01-10  23:59:45        25号機
3                 51     moving  2023-01-10  23:59:28        25号機
4                 53       stop  2023-01-10  23:59:28        25号機
...              ...        ...         ...       ...         ...
5921              52     moving  2023-01-10  00:01:18        25号機
5922              53       stop  2023-01-10  00:01:18        25号機
5923              52     moving  2023-01-10  00:01:03        25号機
5924              53       stop  2023-01-10  00:01:03        25号機
5925              42     moving  2023-01-10  00:00:00        25号機

[5926 rows x 5 columns]

In [ ]:
##  For "2023-01-11"


res11 = df.loc[df['Date'] == '2023-01-11', ['Camera_Area_ID', 'Class_Name', 'Date', 'Time','Camera_Name']]
res11

      Camera_Area_ID Class_Name        Date      Time Camera_Name
0                 42     moving  2023-01-11  23:59:59        25号機
1                 52     moving  2023-01-11  23:58:50        25号機
2                 53       stop  2023-01-11  23:58:50        25号機
3                 46     moving  2023-01-11  23:58:03        25号機
4                 47       stop  2023-01-11  23:58:03        25号機
...              ...        ...         ...       ...         ...
7573              51     moving  2023-01-11  00:00:33        25号機
7574              53       stop  2023-01-11  00:00:33        25号機
7575              52     moving  2023-01-11  00:00:01        25号機
7576              53       stop  2023-01-11  00:00:01        25号機
7577              42     moving  2023-01-11  00:00:00        25号機

[7578 rows x 5 columns]

In [ ]:
##  For " 2023-01-12 "


res12 = df.loc[df['Date'] == '2023-01-12', ['Camera_Area_ID', 'Class_Name', 'Date', 'Time','Camera_Name']]
res12

      Camera_Area_ID Class_Name        Date      Time Camera_Name
0                 42       stop  2023-01-12  23:59:59        25号機
1                 42       stop  2023-01-12  23:59:03        25号機
2                 46     moving  2023-01-12  23:58:46        25号機
3                 47       stop  2023-01-12  23:58:46        25号機
4                 52     moving  2023-01-12  23:58:33        25号機
...              ...        ...         ...       ...         ...
3878              42     moving  2023-01-12  00:01:22        25号機
3879              43       stop  2023-01-12  00:01:22        25号機
3880              52     moving  2023-01-12  00:01:22        25号機
3881              53       stop  2023-01-12  00:01:22        25号機
3882              42     moving  2023-01-12  00:00:00        25号機

[3883 rows x 5 columns]

In [ ]:
##  For " 2023-01-13 "


res13 = df.loc[df['Date'] == '2023-01-13', ['Camera_Area_ID', 'Class_Name', 'Date', 'Time','Camera_Name']]
res13

      Camera_Area_ID Class_Name        Date      Time Camera_Name
0                 42       stop  2023-01-13  23:59:59        25号機
1                 47       stop  2023-01-13  06:04:43        25号機
2                 48     moving  2023-01-13  06:04:43        25号機
3                 47       stop  2023-01-13  06:04:16        25号機
4                 48     moving  2023-01-13  06:04:16        25号機
...              ...        ...         ...       ...         ...
1926              52     moving  2023-01-13  00:04:42        25号機
1927              53       stop  2023-01-13  00:04:42        25号機
1928              52     moving  2023-01-13  00:04:27        25号機
1929              53       stop  2023-01-13  00:04:27        25号機
1930              42     moving  2023-01-13  00:00:00        25号機

[1931 rows x 5 columns]

In [ ]:
##  For "2023-01-16"


res16 = df.loc[df['Date'] == '2023-01-16', ['Camera_Area_ID', 'Class_Name', 'Date', 'Time','Camera_Name']]
res16

      Camera_Area_ID Class_Name        Date      Time Camera_Name
0                 42     moving  2023-01-16  23:59:59        25号機
1                 42     moving  2023-01-16  23:59:01        25号機
2                 43       stop  2023-01-16  23:59:01        25号機
3                 45     moving  2023-01-16  23:59:01        25号機
4                 47       stop  2023-01-16  23:59:01        25号機
...              ...        ...         ...       ...         ...
2281              42       stop  2023-01-16  12:06:06        25号機
2282              43     moving  2023-01-16  12:06:06        25号機
2283              48       stop  2023-01-16  11:10:40        25号機
2284              49     moving  2023-01-16  11:10:40        25号機
2285              42       stop  2023-01-16  00:00:00        25号機

[2286 rows x 5 columns]

In [ ]:
##  For " 2023-01-17 "


res17 = df.loc[df['Date'] == '2023-01-17', ['Camera_Area_ID', 'Class_Name', 'Date', 'Time','Camera_Name']]
res17

      Camera_Area_ID Class_Name        Date      Time Camera_Name
0                 42     moving  2023-01-17  23:59:59        25号機
1                 43     moving  2023-01-17  23:59:50        25号機
2                 44       stop  2023-01-17  23:59:50        25号機
3                 46     moving  2023-01-17  23:59:50        25号機
4                 47       stop  2023-01-17  23:59:50        25号機
...              ...        ...         ...       ...         ...
5551              46     moving  2023-01-17  00:00:24        25号機
5552              48       stop  2023-01-17  00:00:24        25号機
5553              51     moving  2023-01-17  00:00:24        25号機
5554              53       stop  2023-01-17  00:00:24        25号機
5555              42     moving  2023-01-17  00:00:00        25号機

[5556 rows x 5 columns]

In [ ]:
##  For " 2023-01-18 "


res18 = df.loc[df['Date'] == '2023-01-18', ['Camera_Area_ID', 'Class_Name', 'Date', 'Time','Camera_Name']]
res18

      Camera_Area_ID Class_Name        Date      Time Camera_Name
0                 42     moving  2023-01-18  23:59:59        25号機
1                 43     moving  2023-01-18  23:59:56        25号機
2                 44       stop  2023-01-18  23:59:56        25号機
3                 52     moving  2023-01-18  23:59:56        25号機
4                 53       stop  2023-01-18  23:59:56        25号機
...              ...        ...         ...       ...         ...
9295              46     moving  2023-01-18  00:02:13        25号機
9296              47       stop  2023-01-18  00:02:13        25号機
9297              52     moving  2023-01-18  00:02:13        25号機
9298              53       stop  2023-01-18  00:02:13        25号機
9299              42     moving  2023-01-18  00:00:00        25号機

[9300 rows x 5 columns]

In [ ]:
##  For "2023-01-19"


res19 = df.loc[df['Date'] == '2023-01-19', ['Camera_Area_ID', 'Class_Name', 'Date', 'Time','Camera_Name']]
res19

      Camera_Area_ID Class_Name        Date      Time Camera_Name
0                 43     moving  2023-01-19  23:59:59        25号機
1                 46     moving  2023-01-19  23:59:37        25号機
2                 47       stop  2023-01-19  23:59:37        25号機
3                 50     moving  2023-01-19  23:59:37        25号機
4                 52       stop  2023-01-19  23:59:37        25号機
...              ...        ...         ...       ...         ...
7719              43     moving  2023-01-19  00:00:22        25号機
7720              47       stop  2023-01-19  00:00:22        25号機
7721              52     moving  2023-01-19  00:00:22        25号機
7722              53       stop  2023-01-19  00:00:22        25号機
7723              43     moving  2023-01-19  00:00:00        25号機

[7724 rows x 5 columns]

In [ ]:
##  For " 2023-01-20 "


res20 = df.loc[df['Date'] == '2023-01-20', ['Camera_Area_ID', 'Class_Name',  'Date', 'Time','Camera_Name']]
res20

      Camera_Area_ID Class_Name        Date      Time Camera_Name
0                 42       stop  2023-01-20  23:59:59        25号機
1                 53       stop  2023-01-20  22:16:12        25号機
2                 44     moving  2023-01-20  22:15:57        25号機
3                 42       stop  2023-01-20  16:48:39        25号機
4                 44     moving  2023-01-20  16:48:39        25号機
...              ...        ...         ...       ...         ...
2092              52     moving  2023-01-20  00:01:51        25号機
2093              53       stop  2023-01-20  00:01:51        25号機
2094              45     moving  2023-01-20  00:01:25        25号機
2095              47       stop  2023-01-20  00:01:25        25号機
2096              42     moving  2023-01-20  00:00:00        25号機

[2097 rows x 5 columns]

In [ ]:
##  For " 2023-01-23 "


res23 = df.loc[df['Date'] == '2023-01-23', ['Camera_Area_ID', 'Class_Name', 'Date', 'Time','Camera_Name']]
res23

    Camera_Area_ID Class_Name        Date      Time Camera_Name
0               42     moving  2023-01-23  23:59:59        25号機
1               49     moving  2023-01-23  23:50:53        25号機
2               50       stop  2023-01-23  23:50:53        25号機
3               49     moving  2023-01-23  23:45:54        25号機
4               50       stop  2023-01-23  23:45:54        25号機
..             ...        ...         ...       ...         ...
58              53       stop  2023-01-23  10:49:19        25号機
59              42         ND  2023-01-23  08:00:00        25号機
60              48       stop  2023-01-23  06:57:51        25号機
61              51     moving  2023-01-23  06:57:51        25号機
62              42       stop  2023-01-23  00:00:00        25号機

[63 rows x 5 columns]

In [ ]:
##  For " 2023-01-24 "


res24 = df.loc[df['Date'] == '2023-01-24', ['Camera_Area_ID', 'Class_Name', 'Date', 'Time','Camera_Name']]
res24

     Camera_Area_ID Class_Name        Date      Time Camera_Name
0                42     moving  2023-01-24  23:59:59        25号機
1                43     moving  2023-01-24  22:44:55        25号機
2                44       stop  2023-01-24  22:44:55        25号機
3                48     moving  2023-01-24  21:45:44        25号機
4                49       stop  2023-01-24  21:45:44        25号機
..              ...        ...         ...       ...         ...
311              47     moving  2023-01-24  00:15:59        25号機
312              48       stop  2023-01-24  00:15:59        25号機
313              47     moving  2023-01-24  00:00:57        25号機
314              48       stop  2023-01-24  00:00:57        25号機
315              42     moving  2023-01-24  00:00:00        25号機

[316 rows x 5 columns]

In [ ]:
##  For " 2023-01-25 "


res25 = df.loc[df['Date'] == '2023-01-25', ['Camera_Area_ID', 'Class_Name','Date', 'Time','Camera_Name']]
res25

     Camera_Area_ID Class_Name        Date      Time Camera_Name
0                42       stop  2023-01-25  23:59:59        25号機
1                42       stop  2023-01-25  21:38:59        25号機
2                44     moving  2023-01-25  21:38:59        25号機
3                46       stop  2023-01-25  21:38:59        25号機
4                47     moving  2023-01-25  21:38:59        25号機
..              ...        ...         ...       ...         ...
654              49     moving  2023-01-25  00:29:12        25号機
655              50       stop  2023-01-25  00:29:12        25号機
656              52     moving  2023-01-25  00:14:22        25号機
657              53       stop  2023-01-25  00:14:22        25号機
658              42     moving  2023-01-25  00:00:00        25号機

[659 rows x 5 columns]

In [ ]:
##  For " 2023-01-26 "


res26 = df.loc[df['Date'] == '2023-01-26', ['Camera_Area_ID', 'Class_Name', 'Date', 'Time','Camera_Name']]
res26

    Camera_Area_ID Class_Name        Date      Time Camera_Name
0               42         ND  2023-01-26  23:59:59        25号機
1               42         ND  2023-01-26  18:00:00        25号機
2               49     moving  2023-01-26  13:14:28        25号機
3               50       stop  2023-01-26  13:14:28        25号機
4               52     moving  2023-01-26  13:08:37        25号機
..             ...        ...         ...       ...         ...
77              48       stop  2023-01-26  02:40:48        25号機
78              52     moving  2023-01-26  02:40:48        25号機
79              53       stop  2023-01-26  02:38:43        25号機
80              53     moving  2023-01-26  02:38:25        25号機
81              42       stop  2023-01-26  00:00:00        25号機

[82 rows x 5 columns]

In [ ]:
##  For " 2023-01-27 "


res27 = df.loc[df['Date'] == '2023-01-27', ['Camera_Area_ID', 'Class_Name', 'Date', 'Time','Camera_Name']]
res27

     Camera_Area_ID Class_Name        Date      Time Camera_Name
0                42       stop  2023-01-27  23:59:59        25号機
1                42       stop  2023-01-27  16:24:42        25号機
2                47     moving  2023-01-27  16:24:42        25号機
3                48       stop  2023-01-27  16:24:42        25号機
4                51     moving  2023-01-27  16:24:42        25号機
..              ...        ...         ...       ...         ...
192              42     moving  2023-01-27  09:07:09        25号機
193              43       stop  2023-01-27  09:07:09        25号機
194              45     moving  2023-01-27  09:07:09        25号機
195              53       stop  2023-01-27  09:07:09        25号機
196              42         ND  2023-01-27  00:00:00        25号機

[197 rows x 5 columns]

In [ ]:
##  For " 2023-01-30"


res30 = df.loc[df['Date'] == '2023-01-30', ['Camera_Area_ID', 'Class_Name', 'Date', 'Time','Camera_Name']]
res30

     Camera_Area_ID Class_Name        Date      Time Camera_Name
0                42     moving  2023-01-30  23:59:59        25号機
1                46     moving  2023-01-30  23:57:52        25号機
2                47       stop  2023-01-30  23:57:52        25号機
3                46     moving  2023-01-30  23:53:10        25号機
4                47       stop  2023-01-30  23:53:10        25号機
..              ...        ...         ...       ...         ...
158              47       stop  2023-01-30  09:19:04        25号機
159              48     moving  2023-01-30  09:19:04        25号機
160              42       stop  2023-01-30  09:07:39        25号機
161              43     moving  2023-01-30  09:07:39        25号機
162              42       stop  2023-01-30  00:00:00        25号機

[163 rows x 5 columns]

In [ ]:
##  For " 2023-01-31"


res31 = df.loc[df['Date'] == '2023-01-31', ['Camera_Area_ID', 'Class_Name', 'Date', 'Time','Camera_Name']]
res31

      Camera_Area_ID Class_Name        Date      Time Camera_Name
0                 42       stop  2023-01-31  23:59:59        25号機
1                 42       stop  2023-01-31  23:58:35        25号機
2                 53     moving  2023-01-31  23:58:35        25号機
3                 42       stop  2023-01-31  23:53:35        25号機
4                 53     moving  2023-01-31  23:53:35        25号機
...              ...        ...         ...       ...         ...
1591              46     moving  2023-01-31  00:07:12        25号機
1592              47       stop  2023-01-31  00:07:12        25号機
1593              46     moving  2023-01-31  00:02:34        25号機
1594              47       stop  2023-01-31  00:02:34        25号機
1595              42     moving  2023-01-31  00:00:00        25号機

[1596 rows x 5 columns]

#  Sorting the `Camera_Area_ID` and `Time` column

In [ ]:
res6_sort = res6.sort_values(by=['Camera_Area_ID', 'Time'], ascending = [True, False]).reset_index(drop=True)
res6_sort
##  Only to check

      Camera_Area_ID Class_Name        Date      Time Camera_Name
0                 42       stop  2023-01-06  23:59:59        25号機
1                 42       stop  2023-01-06  23:56:25        25号機
2                 42       stop  2023-01-06  23:55:22        25号機
3                 42       stop  2023-01-06  23:55:06        25号機
4                 42       stop  2023-01-06  23:49:28        25号機
...              ...        ...         ...       ...         ...
4588              53     moving  2023-01-06  15:21:57        25号機
4589              53     moving  2023-01-06  15:03:58        25号機
4590              53     moving  2023-01-06  14:58:47        25号機
4591              53     moving  2023-01-06  14:56:15        25号機
4592              53       stop  2023-01-06  07:57:27        25号機

[4593 rows x 5 columns]

In [ ]:
res9_sort = res9.sort_values(by=['Camera_Area_ID', 'Time'], ascending = [True, False]).reset_index(drop=True)
res9_sort
##  Only to check

      Camera_Area_ID Class_Name        Date      Time Camera_Name
0                 42     moving  2023-01-09  23:59:59        25号機
1                 42       stop  2023-01-09  23:58:26        25号機
2                 42       stop  2023-01-09  23:53:10        25号機
3                 42       stop  2023-01-09  23:51:02        25号機
4                 42       stop  2023-01-09  23:49:03        25号機
...              ...        ...         ...       ...         ...
2224              53       stop  2023-01-09  11:10:42        25号機
2225              53       stop  2023-01-09  11:08:58        25号機
2226              53       stop  2023-01-09  11:08:29        25号機
2227              53       stop  2023-01-09  11:08:14        25号機
2228              53       stop  2023-01-09  11:07:59        25号機

[2229 rows x 5 columns]

In [ ]:
res10_sort = res10.sort_values(by=['Camera_Area_ID', 'Time'], ascending = [True, False]).reset_index(drop=True)
res10_sort
##  Only to check

      Camera_Area_ID Class_Name        Date      Time Camera_Name
0                 42     moving  2023-01-10  23:59:59        25号機
1                 42     moving  2023-01-10  23:36:46        25号機
2                 42     moving  2023-01-10  22:57:36        25号機
3                 42     moving  2023-01-10  22:44:03        25号機
4                 42     moving  2023-01-10  22:31:59        25号機
...              ...        ...         ...       ...         ...
5921              53       stop  2023-01-10  00:03:31        25号機
5922              53       stop  2023-01-10  00:03:02        25号機
5923              53       stop  2023-01-10  00:02:03        25号機
5924              53       stop  2023-01-10  00:01:18        25号機
5925              53       stop  2023-01-10  00:01:03        25号機

[5926 rows x 5 columns]

In [ ]:
res11_sort = res11.sort_values(by=['Camera_Area_ID', 'Time'], ascending = [True, False]).reset_index(drop=True)
res11_sort
##  Only to check

      Camera_Area_ID Class_Name        Date      Time Camera_Name
0                 42     moving  2023-01-11  23:59:59        25号機
1                 42     moving  2023-01-11  23:40:11        25号機
2                 42     moving  2023-01-11  23:39:04        25号機
3                 42       stop  2023-01-11  22:24:07        25号機
4                 42     moving  2023-01-11  22:16:44        25号機
...              ...        ...         ...       ...         ...
7573              53       stop  2023-01-11  00:01:36        25号機
7574              53       stop  2023-01-11  00:01:04        25号機
7575              53       stop  2023-01-11  00:00:49        25号機
7576              53       stop  2023-01-11  00:00:33        25号機
7577              53       stop  2023-01-11  00:00:01        25号機

[7578 rows x 5 columns]

In [ ]:
res12_sort = res12.sort_values(by=['Camera_Area_ID', 'Time'], ascending = [True, False]).reset_index(drop=True)
res12_sort
##  Only to check

      Camera_Area_ID Class_Name        Date      Time Camera_Name
0                 42       stop  2023-01-12  23:59:59        25号機
1                 42       stop  2023-01-12  23:59:03        25号機
2                 42     moving  2023-01-12  22:17:15        25号機
3                 42       stop  2023-01-12  22:03:39        25号機
4                 42     moving  2023-01-12  22:01:47        25号機
...              ...        ...         ...       ...         ...
3878              53       stop  2023-01-12  00:08:16        25号機
3879              53       stop  2023-01-12  00:04:38        25号機
3880              53       stop  2023-01-12  00:03:58        25号機
3881              53       stop  2023-01-12  00:02:26        25号機
3882              53       stop  2023-01-12  00:01:22        25号機

[3883 rows x 5 columns]

In [ ]:
res13_sort = res13.sort_values(by=['Camera_Area_ID', 'Time'], ascending = [True, False]).reset_index(drop=True)
res13_sort
##  Only to check

      Camera_Area_ID Class_Name        Date      Time Camera_Name
0                 42       stop  2023-01-13  23:59:59        25号機
1                 42       stop  2023-01-13  05:45:50        25号機
2                 42       stop  2023-01-13  05:45:35        25号機
3                 42       stop  2023-01-13  05:45:08        25号機
4                 42       stop  2023-01-13  05:44:54        25号機
...              ...        ...         ...       ...         ...
1926              53     moving  2023-01-13  00:21:32        25号機
1927              53     moving  2023-01-13  00:17:38        25号機
1928              53       stop  2023-01-13  00:12:59        25号機
1929              53       stop  2023-01-13  00:04:42        25号機
1930              53       stop  2023-01-13  00:04:27        25号機

[1931 rows x 5 columns]

In [ ]:
res16_sort = res16.sort_values(by=['Camera_Area_ID', 'Time'], ascending = [True, False]).reset_index(drop=True)
res16_sort
##  Only to check

      Camera_Area_ID Class_Name        Date      Time Camera_Name
0                 42     moving  2023-01-16  23:59:59        25号機
1                 42     moving  2023-01-16  23:59:01        25号機
2                 42       stop  2023-01-16  23:58:31        25号機
3                 42       stop  2023-01-16  23:57:50        25号機
4                 42       stop  2023-01-16  23:57:03        25号機
...              ...        ...         ...       ...         ...
2281              53       stop  2023-01-16  14:21:30        25号機
2282              53       stop  2023-01-16  14:20:45        25号機
2283              53       stop  2023-01-16  14:15:56        25号機
2284              53       stop  2023-01-16  14:15:24        25号機
2285              53       stop  2023-01-16  14:13:07        25号機

[2286 rows x 5 columns]

In [ ]:
res17_sort = res17.sort_values(by=['Camera_Area_ID', 'Time'], ascending = [True, False]).reset_index(drop=True)
res17_sort
##  Only to check

      Camera_Area_ID Class_Name        Date      Time Camera_Name
0                 42     moving  2023-01-17  23:59:59        25号機
1                 42       stop  2023-01-17  20:56:11        25号機
2                 42       stop  2023-01-17  20:43:05        25号機
3                 42       stop  2023-01-17  20:22:25        25号機
4                 42       stop  2023-01-17  20:01:16        25号機
...              ...        ...         ...       ...         ...
5551              53       stop  2023-01-17  00:04:25        25号機
5552              53       stop  2023-01-17  00:03:44        25号機
5553              53       stop  2023-01-17  00:02:33        25号機
5554              53       stop  2023-01-17  00:01:51        25号機
5555              53       stop  2023-01-17  00:00:24        25号機

[5556 rows x 5 columns]

In [ ]:
res18_sort = res18.sort_values(by=['Camera_Area_ID', 'Time'], ascending = [True, False]).reset_index(drop=True)
res18_sort
##  Only to check

      Camera_Area_ID Class_Name        Date      Time Camera_Name
0                 42     moving  2023-01-18  23:59:59        25号機
1                 42     moving  2023-01-18  23:53:41        25号機
2                 42       stop  2023-01-18  23:44:31        25号機
3                 42     moving  2023-01-18  23:42:46        25号機
4                 42       stop  2023-01-18  23:22:45        25号機
...              ...        ...         ...       ...         ...
9295              53       stop  2023-01-18  00:04:33        25号機
9296              53       stop  2023-01-18  00:03:31        25号機
9297              53       stop  2023-01-18  00:03:15        25号機
9298              53       stop  2023-01-18  00:02:59        25号機
9299              53       stop  2023-01-18  00:02:13        25号機

[9300 rows x 5 columns]

In [ ]:
res19_sort = res19.sort_values(by=['Camera_Area_ID', 'Time'], ascending = [True, False]).reset_index(drop=True)
res19_sort
##  Only to check

      Camera_Area_ID Class_Name        Date      Time Camera_Name
0                 42       stop  2023-01-19  23:53:43        25号機
1                 42       stop  2023-01-19  23:53:23        25号機
2                 42       stop  2023-01-19  23:51:40        25号機
3                 42       stop  2023-01-19  23:51:20        25号機
4                 42       stop  2023-01-19  23:50:40        25号機
...              ...        ...         ...       ...         ...
7719              53       stop  2023-01-19  00:05:24        25号機
7720              53       stop  2023-01-19  00:05:08        25号機
7721              53       stop  2023-01-19  00:01:40        25号機
7722              53       stop  2023-01-19  00:00:57        25号機
7723              53       stop  2023-01-19  00:00:22        25号機

[7724 rows x 5 columns]

In [ ]:
res20_sort = res20.sort_values(by=['Camera_Area_ID', 'Time'], ascending = [True, False]).reset_index(drop=True)
res20_sort
##  Only to check

      Camera_Area_ID Class_Name        Date      Time Camera_Name
0                 42       stop  2023-01-20  23:59:59        25号機
1                 42       stop  2023-01-20  16:48:39        25号機
2                 42       stop  2023-01-20  16:47:21        25号機
3                 42       stop  2023-01-20  16:44:39        25号機
4                 42       stop  2023-01-20  15:46:13        25号機
...              ...        ...         ...       ...         ...
2092              53     moving  2023-01-20  00:05:23        25号機
2093              53       stop  2023-01-20  00:04:07        25号機
2094              53     moving  2023-01-20  00:03:11        25号機
2095              53       stop  2023-01-20  00:02:53        25号機
2096              53       stop  2023-01-20  00:01:51        25号機

[2097 rows x 5 columns]

In [ ]:
res23_sort = res23.sort_values(by=['Camera_Area_ID', 'Time'], ascending = [True, False]).reset_index(drop=True)
res23_sort
##  Only to check

    Camera_Area_ID Class_Name        Date      Time Camera_Name
0               42     moving  2023-01-23  23:59:59        25号機
1               42     moving  2023-01-23  13:30:22        25号機
2               42       stop  2023-01-23  12:16:30        25号機
3               42     moving  2023-01-23  12:04:11        25号機
4               42     moving  2023-01-23  12:00:35        25号機
..             ...        ...         ...       ...         ...
58              53       stop  2023-01-23  13:31:43        25号機
59              53       stop  2023-01-23  13:31:24        25号機
60              53       stop  2023-01-23  12:04:41        25号機
61              53       stop  2023-01-23  12:00:48        25号機
62              53       stop  2023-01-23  10:49:19        25号機

[63 rows x 5 columns]

In [ ]:
res24_sort = res24.sort_values(by=['Camera_Area_ID', 'Time'], ascending = [True, False]).reset_index(drop=True)
res24_sort
##  Only to check

     Camera_Area_ID Class_Name        Date      Time Camera_Name
0                42     moving  2023-01-24  23:59:59        25号機
1                42     moving  2023-01-24  11:34:05        25号機
2                42     moving  2023-01-24  11:33:25        25号機
3                42       stop  2023-01-24  11:18:34        25号機
4                42       stop  2023-01-24  10:32:10        25号機
..              ...        ...         ...       ...         ...
311              53       stop  2023-01-24  07:29:26        25号機
312              53       stop  2023-01-24  07:23:48        25号機
313              53       stop  2023-01-24  07:17:46        25号機
314              53     moving  2023-01-24  07:14:43        25号機
315              53       stop  2023-01-24  05:15:58        25号機

[316 rows x 5 columns]

In [ ]:
res25_sort = res25.sort_values(by=['Camera_Area_ID', 'Time'], ascending = [True, False]).reset_index(drop=True)
res25_sort
##  Only to check

     Camera_Area_ID Class_Name        Date      Time Camera_Name
0                42       stop  2023-01-25  23:59:59        25号機
1                42       stop  2023-01-25  21:38:59        25号機
2                42       stop  2023-01-25  16:04:34        25号機
3                42       stop  2023-01-25  13:46:16        25号機
4                42       stop  2023-01-25  13:36:16        25号機
..              ...        ...         ...       ...         ...
654              53     moving  2023-01-25  06:53:48        25号機
655              53     moving  2023-01-25  06:53:11        25号機
656              53     moving  2023-01-25  06:52:56        25号機
657              53       stop  2023-01-25  06:47:32        25号機
658              53       stop  2023-01-25  00:14:22        25号機

[659 rows x 5 columns]

In [ ]:
res26_sort = res26.sort_values(by=['Camera_Area_ID', 'Time'], ascending = [True, False]).reset_index(drop=True)
res26_sort
##  Only to check

    Camera_Area_ID Class_Name        Date      Time Camera_Name
0               42         ND  2023-01-26  23:59:59        25号機
1               42         ND  2023-01-26  18:00:00        25号機
2               42     moving  2023-01-26  11:28:04        25号機
3               42       stop  2023-01-26  10:51:32        25号機
4               42       stop  2023-01-26  10:23:06        25号機
..             ...        ...         ...       ...         ...
77              53       stop  2023-01-26  09:57:37        25号機
78              53       stop  2023-01-26  08:51:31        25号機
79              53       stop  2023-01-26  08:34:46        25号機
80              53       stop  2023-01-26  02:38:43        25号機
81              53     moving  2023-01-26  02:38:25        25号機

[82 rows x 5 columns]

In [ ]:
res27_sort = res27.sort_values(by=['Camera_Area_ID', 'Time'], ascending = [True, False]).reset_index(drop=True)
res27_sort
##  Only to check

     Camera_Area_ID Class_Name        Date      Time Camera_Name
0                42       stop  2023-01-27  23:59:59        25号機
1                42       stop  2023-01-27  16:24:42        25号機
2                42       stop  2023-01-27  15:46:38        25号機
3                42       stop  2023-01-27  15:35:35        25号機
4                42       stop  2023-01-27  15:10:55        25号機
..              ...        ...         ...       ...         ...
192              53       stop  2023-01-27  10:05:00        25号機
193              53       stop  2023-01-27  09:59:36        25号機
194              53       stop  2023-01-27  09:07:58        25号機
195              53       stop  2023-01-27  09:07:36        25号機
196              53       stop  2023-01-27  09:07:09        25号機

[197 rows x 5 columns]

In [ ]:
res30_sort = res30.sort_values(by=['Camera_Area_ID', 'Time'], ascending = [True, False]).reset_index(drop=True)
res30_sort
##  Only to check

     Camera_Area_ID Class_Name        Date      Time Camera_Name
0                42     moving  2023-01-30  23:59:59        25号機
1                42       stop  2023-01-30  23:30:43        25号機
2                42     moving  2023-01-30  20:56:56        25号機
3                42         ND  2023-01-30  16:00:00        25号機
4                42     moving  2023-01-30  09:56:25        25号機
..              ...        ...         ...       ...         ...
158              53       stop  2023-01-30  09:44:16        25号機
159              53       stop  2023-01-30  09:24:11        25号機
160              53     moving  2023-01-30  09:23:55        25号機
161              53       stop  2023-01-30  09:23:40        25号機
162              53       stop  2023-01-30  09:23:26        25号機

[163 rows x 5 columns]

In [ ]:
res31_sort = res31.sort_values(by=['Camera_Area_ID', 'Time'], ascending = [True, False]).reset_index(drop=True)
res31_sort
##  Only to check

      Camera_Area_ID Class_Name        Date      Time Camera_Name
0                 42       stop  2023-01-31  23:59:59        25号機
1                 42       stop  2023-01-31  23:58:35        25号機
2                 42       stop  2023-01-31  23:53:35        25号機
3                 42       stop  2023-01-31  23:48:46        25号機
4                 42       stop  2023-01-31  23:43:48        25号機
...              ...        ...         ...       ...         ...
1591              53       stop  2023-01-31  06:32:17        25号機
1592              53       stop  2023-01-31  06:32:01        25号機
1593              53       stop  2023-01-31  06:31:30        25号機
1594              53       stop  2023-01-31  06:30:57        25号機
1595              53       stop  2023-01-31  06:30:14        25号機

[1596 rows x 5 columns]

##  From Here Onwards only `res1` (i.e) " 2023-01-06 " will be evaluated

In [ ]:
lst = list(res6_sort['Class_Name'])

def remove_cons_dup(lst):
    last_seen = None
    res = []
    res_idx = []


#     Index_label = df[df['Updated Price']>1000].index.tolist()

#     count = 0
    for idx, x in enumerate(lst):
        if x != last_seen:
            res.append(x)
            res_idx.append(idx)
        last_seen = x

    return res_idx, res

In [ ]:
rmv_idx_res6, rmv_res6 = remove_cons_dup(lst)

# Creating a new dataframe where the above exact `indices` match

In [ ]:
lst = rmv_idx_res6
res6_sort_new = res6_sort[res6_sort.index.isin(lst)]

In [ ]:
res6_sort_new_stop = res6_sort_new[ ( res6_sort_new['Class_Name'] == 'stop' ) ]   ##    212 stop values

In [ ]:
res6_sort_new_stop

      Camera_Area_ID Class_Name        Date      Time Camera_Name
0                 42       stop  2023-01-06  23:59:59        25号機
113               43       stop  2023-01-06  23:59:46        25号機
122               43       stop  2023-01-06  23:54:34        25号機
144               43       stop  2023-01-06  23:36:30        25号機
147               43       stop  2023-01-06  23:27:17        25号機
...              ...        ...         ...       ...         ...
4493              52       stop  2023-01-06  15:34:59        25号機
4496              52       stop  2023-01-06  15:23:16        25号機
4504              52       stop  2023-01-06  15:03:58        25号機
4506              52       stop  2023-01-06  14:58:47        25号機
4592              53       stop  2023-01-06  07:57:27        25号機

[375 rows x 5 columns]

#    ` 212 ` is the number of 'stop' values for ` 2022-12-01 `

## Run the below code to generate the ` csv `  file

In [ ]:
res6_sort_new_stop.to_excel('Jan6.xlsx')

In [ ]:
pd.read_excel('Jan6.xlsx')

     Unnamed: 0  Camera_Area_ID Class_Name        Date      Time Camera_Name
0             0              42       stop  2023-01-06  23:59:59        25号機
1           113              43       stop  2023-01-06  23:59:46        25号機
2           122              43       stop  2023-01-06  23:54:34        25号機
3           144              43       stop  2023-01-06  23:36:30        25号機
4           147              43       stop  2023-01-06  23:27:17        25号機
..          ...             ...        ...         ...       ...         ...
370        4493              52       stop  2023-01-06  15:34:59        25号機
371        4496              52       stop  2023-01-06  15:23:16        25号機
372        4504              52       stop  2023-01-06  15:03:58        25号機
373        4506              52       stop  2023-01-06  14:58:47        25号機
374        4592              53       stop  2023-01-06  07:57:27        25号機

[375 rows x 6 columns]

##  From Here Onwards ` except ` `res1` (i.e) " 2022-12-01 " will be evaluated

##  Below cell tells us to do the things sequentially
- create the list ` lst ` with different name
- Function remains same, with new var name of the ` lst `
- Change name of vars while Function call
- Next Steps are the same just change the var names
- FINALLY WE WILL GET THE DESIRED OUTCOME

##  ` For Reference `

In [ ]:
lst = list(res1_sort['Class_Name'])

def remove_cons_dup(lst):
    last_seen = None
    res = []
    res_idx = []


#     Index_label = df[df['Updated Price']>1000].index.tolist()

#     count = 0
    for idx, x in enumerate(lst):
        if x != last_seen:
            res.append(x)
            res_idx.append(idx)
        last_seen = x

    return res_idx, res

###                        RUN THIS IN A SEPARATE CELL         ######



########     FUNCTION CALL      ########
rmv_idx_res1, rmv_res1 = remove_cons_dup(lst)




###                        RUN THIS IN A SEPARATE CELL         ######


lst = rmv_idx_res1
res1_sort_new = res1_sort[res1_sort.index.isin(lst)]


###                        RUN THIS IN A SEPARATE CELL         ######


res1_sort_new_stop = res1_sort_new[ ( res1_sort_new['Class_Name'] == 'stop' ) ]   ##    212 stop values
res1_sort_new_stop



###                        RUN THIS IN A SEPARATE CELL         ######

NameError: ignored

##  From Here Onwards only `res1` (i.e) " 2022-12-02 " will be evaluated

In [ ]:
lst9 = list(res9_sort['Class_Name'])

def remove_cons_dup(lst9):
    last_seen = None
    res = []
    res_idx = []


#     Index_label = df[df['Updated Price']>1000].index.tolist()

#     count = 0
    for idx, x in enumerate(lst9):
        if x != last_seen:
            res.append(x)
            res_idx.append(idx)
        last_seen = x

    return res_idx, res

In [ ]:
########     FUNCTION CALL      ########
rmv_idx_res9, rmv_res9 = remove_cons_dup(lst9)

In [ ]:
lst9 = rmv_idx_res9
res9_sort_new = res9_sort[res9_sort.index.isin(lst9)]

In [ ]:
res9_sort_new_stop = res9_sort_new[ ( res9_sort_new['Class_Name'] == 'stop' ) ]   ##    1100 stop values
res9_sort_new_stop

      Camera_Area_ID Class_Name        Date      Time Camera_Name
1                 42       stop  2023-01-09  23:58:26        25号機
19                42       stop  2023-01-09  22:58:13        25号機
33                42       stop  2023-01-09  14:17:58        25号機
40                43       stop  2023-01-09  17:49:30        25号機
46                44       stop  2023-01-09  22:51:59        25号機
...              ...        ...         ...       ...         ...
1847              53       stop  2023-01-09  20:47:15        25号機
1851              53       stop  2023-01-09  20:44:36        25号機
2034              53       stop  2023-01-09  14:20:16        25号機
2036              53       stop  2023-01-09  14:17:15        25号機
2040              53       stop  2023-01-09  14:14:02        25号機

[75 rows x 5 columns]

In [ ]:
res9_sort_new.to_excel('Jan9.xlsx')

In [ ]:
res9_sort_new.shape

(150, 5)

##  From Here Onwards only `res1` (i.e) " 2022-12-03 " will be evaluated

In [ ]:
lst10 = list(res10_sort['Class_Name'])

def remove_cons_dup(lst10):
    last_seen = None
    res = []
    res_idx = []


#     Index_label = df[df['Updated Price']>1000].index.tolist()

#     count = 0
    for idx, x in enumerate(lst10):
        if x != last_seen:
            res.append(x)
            res_idx.append(idx)
        last_seen = x

    return res_idx, res

In [ ]:
########     FUNCTION CALL      ########
rmv_idx_res10, rmv_res10 = remove_cons_dup(lst10)

In [ ]:
lst10 = rmv_idx_res10
res10_sort_new = res10_sort[res10_sort.index.isin(lst10)]

In [ ]:
res10_sort_new_stop = res10_sort_new[ ( res10_sort_new['Class_Name'] == 'stop' ) ]   ##    1050 stop values
res10_sort_new_stop

      Camera_Area_ID Class_Name        Date      Time Camera_Name
6                 42       stop  2023-01-10  22:14:11        25号機
16                42       stop  2023-01-10  18:53:06        25号機
20                42       stop  2023-01-10  17:09:14        25号機
72                42       stop  2023-01-10  09:45:12        25号機
80                42       stop  2023-01-10  09:24:32        25号機
...              ...        ...         ...       ...         ...
5891              53       stop  2023-01-10  00:25:49        25号機
5893              53       stop  2023-01-10  00:23:55        25号機
5910              53       stop  2023-01-10  00:08:17        25号機
5912              53       stop  2023-01-10  00:07:20        25号機
5916              53       stop  2023-01-10  00:05:14        25号機

[246 rows x 5 columns]

In [ ]:
res10_sort_new.to_excel('Jan10.xlsx')

In [ ]:
res10_sort_new.shape

(492, 5)

##  From Here Onwards only `res1` (i.e) " 2022-12-05 " will be evaluated

In [ ]:
lst11 = list(res11_sort['Class_Name'])

def remove_cons_dup(lst11):
    last_seen = None
    res = []
    res_idx = []


#     Index_label = df[df['Updated Price']>1000].index.tolist()

#     count = 0
    for idx, x in enumerate(lst11):
        if x != last_seen:
            res.append(x)
            res_idx.append(idx)
        last_seen = x

    return res_idx, res

In [ ]:
########     FUNCTION CALL      ########
rmv_idx_res11, rmv_res11 = remove_cons_dup(lst11)

In [ ]:
lst11 = rmv_idx_res11
res11_sort_new = res11_sort[res11_sort.index.isin(lst11)]

In [ ]:
res11_sort_new_stop = res11_sort_new[ ( res11_sort_new['Class_Name'] == 'stop' ) ]   ##    1592 stop values
res11_sort_new_stop

      Camera_Area_ID Class_Name        Date      Time Camera_Name
3                 42       stop  2023-01-11  22:24:07        25号機
9                 42       stop  2023-01-11  20:47:46        25号機
16                42       stop  2023-01-11  16:26:35        25号機
25                42       stop  2023-01-11  13:27:54        25号機
147               42       stop  2023-01-11  09:23:19        25号機
...              ...        ...         ...       ...         ...
7159              53       stop  2023-01-11  03:12:04        25号機
7277              53       stop  2023-01-11  02:15:14        25号機
7376              53       stop  2023-01-11  01:24:27        25号機
7406              53       stop  2023-01-11  01:11:33        25号機
7503              53       stop  2023-01-11  00:30:21        25号機

[254 rows x 5 columns]

In [ ]:
res11_sort_new.to_excel('Jan11.xlsx')

In [ ]:
res11_sort_new.shape

(508, 5)

##  From Here Onwards only `res1` (i.e) " 2022-12-12 " will be evaluated

In [ ]:
lst12 = list(res12_sort['Class_Name'])

def remove_cons_dup(lst12):
    last_seen = None
    res = []
    res_idx = []


#     Index_label = df[df['Updated Price']>1000].index.tolist()

#     count = 0
    for idx, x in enumerate(lst12):
        if x != last_seen:
            res.append(x)
            res_idx.append(idx)
        last_seen = x

    return res_idx, res

In [ ]:
########     FUNCTION CALL      ########
rmv_idx_res12, rmv_res12 = remove_cons_dup(lst12)

In [ ]:
lst12 = rmv_idx_res12
res12_sort_new = res12_sort[res12_sort.index.isin(lst12)]

In [ ]:
res12_sort_new_stop = res12_sort_new[ ( res12_sort_new['Class_Name'] == 'stop' ) ]   ##    110 stop values
res12_sort_new_stop

      Camera_Area_ID Class_Name        Date      Time Camera_Name
0                 42       stop  2023-01-12  23:59:59        25号機
3                 42       stop  2023-01-12  22:03:39        25号機
6                 42       stop  2023-01-12  21:49:48        25号機
32                42       stop  2023-01-12  07:05:11        25号機
58                42       stop  2023-01-12  05:42:37        25号機
...              ...        ...         ...       ...         ...
3279              53       stop  2023-01-12  14:50:46        25号機
3327              53       stop  2023-01-12  06:54:18        25号機
3458              53       stop  2023-01-12  05:39:25        25号機
3691              53       stop  2023-01-12  03:10:50        25号機
3720              53       stop  2023-01-12  02:40:48        25号機

[117 rows x 5 columns]

In [ ]:
res12_sort_new.to_excel('Jan12.xlsx')

In [ ]:
res12_sort_new.shape

(233, 5)

##  From Here Onwards only `res1` (i.e) " 2022-12-13 " will be evaluated

In [ ]:
lst13 = list(res13_sort['Class_Name'])

def remove_cons_dup(lst13):
    last_seen = None
    res = []
    res_idx = []


#     Index_label = df[df['Updated Price']>1000].index.tolist()

#     count = 0
    for idx, x in enumerate(lst13):
        if x != last_seen:
            res.append(x)
            res_idx.append(idx)
        last_seen = x

    return res_idx, res

In [ ]:
########     FUNCTION CALL      ########
rmv_idx_res13, rmv_res13 = remove_cons_dup(lst13)

In [ ]:
lst13 = rmv_idx_res13
res13_sort_new = res13_sort[res13_sort.index.isin(lst13)]

In [ ]:
res13_sort_new_stop = res13_sort_new[ ( res13_sort_new['Class_Name'] == 'stop' ) ]   ##    610 stop values
res13_sort_new_stop

      Camera_Area_ID Class_Name        Date      Time Camera_Name
0                 42       stop  2023-01-13  23:59:59        25号機
125               42       stop  2023-01-13  03:19:05        25号機
133               42       stop  2023-01-13  02:07:39        25号機
137               42       stop  2023-01-13  01:20:22        25号機
166               43       stop  2023-01-13  06:03:06        25号機
...              ...        ...         ...       ...         ...
1913              53       stop  2023-01-13  00:46:37        25号機
1916              53       stop  2023-01-13  00:42:41        25号機
1920              53       stop  2023-01-13  00:34:23        25号機
1923              53       stop  2023-01-13  00:30:40        25号機
1928              53       stop  2023-01-13  00:12:59        25号機

[76 rows x 5 columns]

In [ ]:
res13_sort_new.to_excel('Jan13.xlsx')

In [ ]:
res13_sort_new.shape

(151, 5)

##  From Here Onwards only `res1` (i.e) " 2022-12-14 " will be evaluated

In [ ]:
lst16 = list(res16_sort['Class_Name'])

def remove_cons_dup(lst16):
    last_seen = None
    res = []
    res_idx = []


#     Index_label = df[df['Updated Price']>1000].index.tolist()

#     count = 0
    for idx, x in enumerate(lst16):
        if x != last_seen:
            res.append(x)
            res_idx.append(idx)
        last_seen = x

    return res_idx, res

In [ ]:
########     FUNCTION CALL      ########
rmv_idx_res16, rmv_res16 = remove_cons_dup(lst16)

In [ ]:
lst16 = rmv_idx_res16
res16_sort_new = res16_sort[res16_sort.index.isin(lst16)]

In [ ]:
res16_sort_new_stop = res16_sort_new[ ( res16_sort_new['Class_Name'] == 'stop' ) ]   ##    209 stop values
res16_sort_new_stop

      Camera_Area_ID Class_Name        Date      Time Camera_Name
2                 42       stop  2023-01-16  23:58:31        25号機
28                42       stop  2023-01-16  23:41:50        25号機
97                42       stop  2023-01-16  18:03:53        25号機
121               42       stop  2023-01-16  15:14:47        25号機
124               42       stop  2023-01-16  15:09:23        25号機
...              ...        ...         ...       ...         ...
2212              53       stop  2023-01-16  15:05:07        25号機
2215              53       stop  2023-01-16  15:02:49        25号機
2227              53       stop  2023-01-16  14:53:37        25号機
2249              53       stop  2023-01-16  14:40:20        25号機
2271              53       stop  2023-01-16  14:26:10        25号機

[119 rows x 5 columns]

In [ ]:
res16_sort_new.to_excel('Jan16.xlsx')

In [ ]:
res16_sort_new.shape

(239, 5)

##  From Here Onwards only `res1` (i.e) " 2022-12-15 " will be evaluated

In [ ]:
lst17 = list(res17_sort['Class_Name'])

def remove_cons_dup(lst17):
    last_seen = None
    res = []
    res_idx = []


#     Index_label = df[df['Updated Price']>1000].index.tolist()

#     count = 0
    for idx, x in enumerate(lst17):
        if x != last_seen:
            res.append(x)
            res_idx.append(idx)
        last_seen = x

    return res_idx, res

In [ ]:
########     FUNCTION CALL      ########
rmv_idx_res17, rmv_res17 = remove_cons_dup(lst17)

In [ ]:
lst17 = rmv_idx_res17
res17_sort_new = res17_sort[res17_sort.index.isin(lst17)]

In [ ]:
res17_sort_new_stop = res17_sort_new[ ( res17_sort_new['Class_Name'] == 'stop' ) ]   ##    596 stop values
res17_sort_new_stop

      Camera_Area_ID Class_Name        Date      Time Camera_Name
1                 42       stop  2023-01-17  20:56:11        25号機
35                42       stop  2023-01-17  13:40:31        25号機
37                42       stop  2023-01-17  05:13:27        25号機
59                42       stop  2023-01-17  04:34:55        25号機
64                42       stop  2023-01-17  03:41:03        25号機
...              ...        ...         ...       ...         ...
5535              53       stop  2023-01-17  00:16:23        25号機
5538              53       stop  2023-01-17  00:12:23        25号機
5545              53       stop  2023-01-17  00:08:05        25号機
5548              53       stop  2023-01-17  00:06:09        25号機
5551              53       stop  2023-01-17  00:04:25        25号機

[300 rows x 5 columns]

In [ ]:
res17_sort_new.to_excel('Jan17.xlsx')

In [ ]:
res17_sort_new.shape

(600, 5)

##  From Here Onwards only `res1` (i.e) " 2022-12-16 " will be evaluated

In [ ]:
lst18 = list(res18_sort['Class_Name'])

def remove_cons_dup(lst18):
    last_seen = None
    res = []
    res_idx = []


#     Index_label = df[df['Updated Price']>1000].index.tolist()

#     count = 0
    for idx, x in enumerate(lst18):
        if x != last_seen:
            res.append(x)
            res_idx.append(idx)
        last_seen = x

    return res_idx, res

In [ ]:
########     FUNCTION CALL      ########
rmv_idx_res18, rmv_res18 = remove_cons_dup(lst18)

In [ ]:
lst18 = rmv_idx_res18
res18_sort_new = res18_sort[res18_sort.index.isin(lst18)]

In [ ]:
res18_sort_new_stop = res18_sort_new[ ( res18_sort_new['Class_Name'] == 'stop' ) ]   ##    333 stop values
res18_sort_new_stop

      Camera_Area_ID Class_Name        Date      Time Camera_Name
2                 42       stop  2023-01-18  23:44:31        25号機
4                 42       stop  2023-01-18  23:22:45        25号機
6                 42       stop  2023-01-18  23:02:37        25号機
8                 42       stop  2023-01-18  20:59:16        25号機
19                42       stop  2023-01-18  19:54:25        25号機
...              ...        ...         ...       ...         ...
9142              53       stop  2023-01-18  01:42:34        25号機
9149              53       stop  2023-01-18  01:38:22        25号機
9155              53       stop  2023-01-18  01:32:31        25号機
9161              53       stop  2023-01-18  01:27:25        25号機
9294              53       stop  2023-01-18  00:04:50        25号機

[494 rows x 5 columns]

In [ ]:
res18_sort_new.to_excel('Jan18.xlsx')

In [ ]:
res18_sort_new.shape

(988, 5)

##  From Here Onwards only `res1` (i.e) " 2022-12-17 " will be evaluated

In [ ]:
lst19 = list(res19_sort['Class_Name'])

def remove_cons_dup(lst19):
    last_seen = None
    res = []
    res_idx = []


#     Index_label = df[df['Updated Price']>1000].index.tolist()

#     count = 0
    for idx, x in enumerate(lst18):
        if x != last_seen:
            res.append(x)
            res_idx.append(idx)
        last_seen = x

    return res_idx, res

In [ ]:
########     FUNCTION CALL      ########
rmv_idx_res19, rmv_res19 = remove_cons_dup(lst19)

In [ ]:
lst19 = rmv_idx_res19
res19_sort_new = res19_sort[res19_sort.index.isin(lst19)]

In [ ]:
res19_sort_new_stop = res19_sort_new[ ( res19_sort_new['Class_Name'] == 'stop' ) ]   ##    1 stop values
res19_sort_new_stop

     Camera_Area_ID Class_Name        Date      Time Camera_Name
0                42       stop  2023-01-19  23:53:43        25号機
1                42       stop  2023-01-19  23:53:23        25号機
2                42       stop  2023-01-19  23:51:40        25号機
3                42       stop  2023-01-19  23:51:20        25号機
4                42       stop  2023-01-19  23:50:40        25号機
..              ...        ...         ...       ...         ...
261              43       stop  2023-01-19  12:29:20        25号機
262              43       stop  2023-01-19  12:28:42        25号機
263              43       stop  2023-01-19  12:28:22        25号機
264              43       stop  2023-01-19  12:28:02        25号機
680              43       stop  2023-01-19  08:39:31        25号機

[205 rows x 5 columns]

In [ ]:
res19_sort_new.to_excel('19Jan.xlsx')

In [ ]:
res19_sort_new.shape

(988, 5)

##  From Here Onwards only `res1` (i.e) " 2022-12-19 " will be evaluated

In [ ]:
lst20 = list(res20_sort['Class_Name'])

def remove_cons_dup(lst20):
    last_seen = None
    res = []
    res_idx = []


#     Index_label = df[df['Updated Price']>1000].index.tolist()

#     count = 0
    for idx, x in enumerate(lst20):
        if x != last_seen:
            res.append(x)
            res_idx.append(idx)
        last_seen = x

    return res_idx, res

In [ ]:
########     FUNCTION CALL      ########
rmv_idx_res20, rmv_res20 = remove_cons_dup(lst20)

In [ ]:
lst20 = rmv_idx_res20
res20_sort_new = res20_sort[res20_sort.index.isin(lst20)]

In [ ]:
res20_sort_new_stop = res20_sort_new[ ( res20_sort_new['Class_Name'] == 'stop' ) ]   ##    497 stop values
res20_sort_new_stop

      Camera_Area_ID Class_Name        Date      Time Camera_Name
0                 42       stop  2023-01-20  23:59:59        25号機
11                42       stop  2023-01-20  14:14:36        25号機
39                42       stop  2023-01-20  08:44:31        25号機
81                42       stop  2023-01-20  00:12:04        25号機
87                43       stop  2023-01-20  16:28:06        25号機
...              ...        ...         ...       ...         ...
2021              53       stop  2023-01-20  01:16:46        25号機
2067              53       stop  2023-01-20  00:31:47        25号機
2089              53       stop  2023-01-20  00:12:04        25号機
2093              53       stop  2023-01-20  00:04:07        25号機
2095              53       stop  2023-01-20  00:02:53        25号機

[178 rows x 5 columns]

In [ ]:
res20_sort_new.to_excel('Jan20.xlsx')

In [ ]:
res20_sort_new.shape

(356, 5)

##  From Here Onwards only `res1` (i.e) " 2022-12-20 " will be evaluated

In [ ]:
lst23 = list(res23_sort['Class_Name'])

def remove_cons_dup(lst21):
    last_seen = None
    res = []
    res_idx = []


#     Index_label = df[df['Updated Price']>1000].index.tolist()

#     count = 0
    for idx, x in enumerate(lst23):
        if x != last_seen:
            res.append(x)
            res_idx.append(idx)
        last_seen = x

    return res_idx, res

In [ ]:
########     FUNCTION CALL      ########
rmv_idx_res23, rmv_res23 = remove_cons_dup(lst23)

In [ ]:
lst23 = rmv_idx_res23
res23_sort_new = res23_sort[res23_sort.index.isin(lst23)]

In [ ]:
res23_sort_new_stop = res23_sort_new[ ( res23_sort_new['Class_Name'] == 'stop' ) ]   ##    1108 stop values
res23_sort_new_stop

    Camera_Area_ID Class_Name        Date      Time Camera_Name
2               42       stop  2023-01-23  12:16:30        25号機
6               42       stop  2023-01-23  00:00:00        25号機
9               43       stop  2023-01-23  11:46:54        25号機
11              44       stop  2023-01-23  12:18:09        25号機
13              45       stop  2023-01-23  12:19:22        25号機
15              45       stop  2023-01-23  11:48:44        25号機
17              46       stop  2023-01-23  12:20:33        25号機
20              47       stop  2023-01-23  22:09:16        25号機
27              47       stop  2023-01-23  12:09:02        25号機
32              48       stop  2023-01-23  11:49:57        25号機
36              49       stop  2023-01-23  12:11:06        25号機
39              49       stop  2023-01-23  11:46:54        25号機
43              50       stop  2023-01-23  13:32:38        25号機
49              51       stop  2023-01-23  23:25:46        25号機
54              52       stop  2023-01-23  13:32:19        25号機
56              53       stop  2023-01-23  22:36:42        25号機

In [ ]:
res23_sort_new.to_excel('Jan23.xlsx')

In [ ]:
res23_sort_new.shape

(33, 5)

##  From Here Onwards only `res1` (i.e) " 2022-12-21 " will be evaluated

In [ ]:
lst24 = list(res24_sort['Class_Name'])

def remove_cons_dup(lst24):
    last_seen = None
    res = []
    res_idx = []


#     Index_label = df[df['Updated Price']>1000].index.tolist()

#     count = 0
    for idx, x in enumerate(lst24):
        if x != last_seen:
            res.append(x)
            res_idx.append(idx)
        last_seen = x

    return res_idx, res

In [ ]:
########     FUNCTION CALL      ########
rmv_idx_res24, rmv_res24 = remove_cons_dup(lst24)

In [ ]:
lst24 = rmv_idx_res24
res24_sort_new = res24_sort[res24_sort.index.isin(lst24)]

In [ ]:
res24_sort_new_stop = res24_sort_new[ ( res24_sort_new['Class_Name'] == 'stop' ) ]   ##    1019 stop values
res24_sort_new_stop

     Camera_Area_ID Class_Name        Date      Time Camera_Name
3                42       stop  2023-01-24  11:18:34        25号機
8                42       stop  2023-01-24  10:05:52        25号機
46               43       stop  2023-01-24  11:19:23        25号機
48               43       stop  2023-01-24  11:14:49        25号機
67               43       stop  2023-01-24  05:50:31        25号機
71               44       stop  2023-01-24  11:20:20        25号機
95               45       stop  2023-01-24  11:20:59        25号機
113              45       stop  2023-01-24  05:32:04        25号機
130              47       stop  2023-01-24  15:01:11        25号機
157              48       stop  2023-01-24  09:57:07        25号機
160              48       stop  2023-01-24  08:53:37        25号機
168              48       stop  2023-01-24  06:02:30        25号機
174              49       stop  2023-01-24  11:38:55        25号機
180              49       stop  2023-01-24  08:53:18        25号機
237              51       stop  2023-01-24  11:36:38        25号機
240              51       stop  2023-01-24  08:30:38        25号機
272              53       stop  2023-01-24  11:36:21        25号機
315              53       stop  2023-01-24  05:15:58        25号機

In [ ]:
res24_sort_new.to_excel('Jan24.xlsx')

In [ ]:
res24_sort_new.shape

(36, 5)

##  From Here Onwards only `res1` (i.e) " 2022-12-22 " will be evaluated

In [ ]:
lst25 = list(res25_sort['Class_Name'])

def remove_cons_dup(lst25):
    last_seen = None
    res = []
    res_idx = []


#     Index_label = df[df['Updated Price']>1000].index.tolist()

#     count = 0
    for idx, x in enumerate(lst25):
        if x != last_seen:
            res.append(x)
            res_idx.append(idx)
        last_seen = x

    return res_idx, res

In [ ]:
########     FUNCTION CALL      ########
rmv_idx_res25, rmv_res25 = remove_cons_dup(lst25)

In [ ]:
lst25 = rmv_idx_res25
res25_sort_new = res25_sort[res25_sort.index.isin(lst25)]

In [ ]:
res25_sort_new_stop = res25_sort_new[ ( res25_sort_new['Class_Name'] == 'stop' ) ]   ##    1536 stop values
res25_sort_new_stop

     Camera_Area_ID Class_Name        Date      Time Camera_Name
0                42       stop  2023-01-25  23:59:59        25号機
8                42       stop  2023-01-25  10:32:51        25号機
10               42       stop  2023-01-25  10:28:20        25号機
83               43       stop  2023-01-25  14:33:06        25号機
88               43       stop  2023-01-25  10:46:08        25号機
139              44       stop  2023-01-25  07:20:35        25号機
162              45       stop  2023-01-25  14:33:06        25号機
165              45       stop  2023-01-25  07:46:22        25号機
214              45       stop  2023-01-25  06:51:11        25号機
336              47       stop  2023-01-25  13:33:39        25号機
349              48       stop  2023-01-25  21:38:59        25号機
357              48       stop  2023-01-25  09:45:06        25号機
359              48       stop  2023-01-25  08:40:38        25号機
462              48       stop  2023-01-25  04:29:55        25号機
571              49       stop  2023-01-25  04:59:32        25号機
575              50       stop  2023-01-25  06:40:05        25号機
613              51       stop  2023-01-25  06:46:09        25号機
637              53       stop  2023-01-25  18:19:25        25号機
657              53       stop  2023-01-25  06:47:32        25号機

In [ ]:
res25_sort_new.to_excel('Jan25.xlsx')

In [ ]:
res25_sort_new.shape

(37, 5)

##  From Here Onwards only `res1` (i.e) " 2022-12-23 " will be evaluated

In [ ]:
lst26 = list(res26_sort['Class_Name'])

def remove_cons_dup(lst26):
    last_seen = None
    res = []
    res_idx = []


#     Index_label = df[df['Updated Price']>1000].index.tolist()

#     count = 0
    for idx, x in enumerate(lst26):
        if x != last_seen:
            res.append(x)
            res_idx.append(idx)
        last_seen = x

    return res_idx, res

In [ ]:
########     FUNCTION CALL      ########
rmv_idx_res26, rmv_res26 = remove_cons_dup(lst26)

In [ ]:
lst26 = rmv_idx_res26
res26_sort_new = res26_sort[res26_sort.index.isin(lst26)]

In [ ]:
res26_sort_new_stop = res26_sort_new[ ( res26_sort_new['Class_Name'] == 'stop' ) ]   ##    1711 stop values
res26_sort_new_stop

    Camera_Area_ID Class_Name        Date      Time Camera_Name
3               42       stop  2023-01-26  10:51:32        25号機
8               42       stop  2023-01-26  09:55:48        25号機
15              43       stop  2023-01-26  09:58:26        25号機
19              43       stop  2023-01-26  08:55:47        25号機
24              44       stop  2023-01-26  10:57:07        25号機
30              45       stop  2023-01-26  11:26:54        25号機
32              45       stop  2023-01-26  09:59:37        25号機
41              47       stop  2023-01-26  08:49:22        25号機
44              48       stop  2023-01-26  11:03:01        25号機
49              48       stop  2023-01-26  08:34:24        25号機
52              49       stop  2023-01-26  11:30:48        25号機
55              49       stop  2023-01-26  08:55:47        25号機
60              51       stop  2023-01-26  11:30:16        25号機
64              52       stop  2023-01-26  12:27:28        25号機
66              53       stop  2023-01-26  13:08:37        25号機
74              53       stop  2023-01-26  10:51:12        25号機
77              53       stop  2023-01-26  09:57:37        25号機

In [ ]:
res26_sort_new.to_excel('Jan26.xlsx')

In [ ]:
res26_sort_new.shape

(36, 5)

##  From Here Onwards only `res1` (i.e) " 2022-12-24 " will be evaluated

In [ ]:
lst27 = list(res27_sort['Class_Name'])

def remove_cons_dup(lst27):
    last_seen = None
    res = []
    res_idx = []


#     Index_label = df[df['Updated Price']>1000].index.tolist()

#     count = 0
    for idx, x in enumerate(lst27):
        if x != last_seen:
            res.append(x)
            res_idx.append(idx)
        last_seen = x

    return res_idx, res

In [ ]:
########     FUNCTION CALL      ########
rmv_idx_res27, rmv_res27 = remove_cons_dup(lst27)

In [ ]:
lst27 = rmv_idx_res27
res27_sort_new = res27_sort[res27_sort.index.isin(lst27)]

In [ ]:
res27_sort_new_stop = res27_sort_new[ ( res27_sort_new['Class_Name'] == 'stop' ) ]   ##    420 stop values
res27_sort_new_stop

     Camera_Area_ID Class_Name        Date      Time Camera_Name
0                42       stop  2023-01-27  23:59:59        25号機
11               42       stop  2023-01-27  10:04:04        25号機
24               43       stop  2023-01-27  11:10:11        25号機
31               43       stop  2023-01-27  09:19:54        25号機
40               44       stop  2023-01-27  12:25:29        25号機
148              47       stop  2023-01-27  15:10:55        25号機
158              47       stop  2023-01-27  09:24:44        25号機
161              48       stop  2023-01-27  16:24:42        25号機
170              49       stop  2023-01-27  10:14:23        25号機
175              50       stop  2023-01-27  09:24:28        25号機
179              52       stop  2023-01-27  16:24:42        25号機
183              53       stop  2023-01-27  15:07:53        25号機
185              53       stop  2023-01-27  14:57:24        25号機
187              53       stop  2023-01-27  14:29:51        25号機
189              53       stop  2023-01-27  10:14:38        25号機

In [ ]:
res27_sort_new.to_excel('Jan27.xlsx')

In [ ]:
res27_sort_new.shape

(31, 5)

##  From Here Onwards only `res1` (i.e) " 2022-12-26 " will be evaluated

In [ ]:
lst30 = list(res30_sort['Class_Name'])

def remove_cons_dup(lst30):
    last_seen = None
    res = []
    res_idx = []


#     Index_label = df[df['Updated Price']>1000].index.tolist()

#     count = 0
    for idx, x in enumerate(lst30):
        if x != last_seen:
            res.append(x)
            res_idx.append(idx)
        last_seen = x

    return res_idx, res

In [ ]:
########     FUNCTION CALL      ########
rmv_idx_res30, rmv_res30 = remove_cons_dup(lst30)

In [ ]:
lst30 = rmv_idx_res30
res30_sort_new = res30_sort[res30_sort.index.isin(lst30)]

In [ ]:
res30_sort_new_stop = res30_sort_new[ ( res30_sort_new['Class_Name'] == 'stop' ) ]   ##    1569 stop values
res30_sort_new_stop

     Camera_Area_ID Class_Name        Date      Time Camera_Name
1                42       stop  2023-01-30  23:30:43        25号機
10               42       stop  2023-01-30  09:29:44        25号機
14               42       stop  2023-01-30  09:07:39        25号機
21               43       stop  2023-01-30  09:30:14        25号機
25               44       stop  2023-01-30  20:19:53        25号機
28               44       stop  2023-01-30  09:30:45        25号機
31               45       stop  2023-01-30  09:32:08        25号機
38               47       stop  2023-01-30  23:57:52        25号機
81               47       stop  2023-01-30  09:25:26        25号機
120              48       stop  2023-01-30  09:24:25        25号機
124              49       stop  2023-01-30  21:33:07        25号機
128              49       stop  2023-01-30  09:58:06        25号機
130              49       stop  2023-01-30  09:23:55        25号機
137              51       stop  2023-01-30  09:57:37        25号機
141              52       stop  2023-01-30  09:49:28        25号機
144              53       stop  2023-01-30  19:42:47        25号機
146              53       stop  2023-01-30  09:57:09        25号機
161              53       stop  2023-01-30  09:23:40        25号機

In [ ]:
res30_sort_new.to_excel('Jan30.xlsx')

In [ ]:
res30_sort_new.shape

(38, 5)

##  From Here Onwards only `res1` (i.e) " 2022-12-27 " will be evaluated

In [ ]:
lst31 = list(res31_sort['Class_Name'])

def remove_cons_dup(lst31):
    last_seen = None
    res = []
    res_idx = []


#     Index_label = df[df['Updated Price']>1000].index.tolist()

#     count = 0
    for idx, x in enumerate(lst31):
        if x != last_seen:
            res.append(x)
            res_idx.append(idx)
        last_seen = x

    return res_idx, res

In [ ]:
########     FUNCTION CALL      ########
rmv_idx_res31, rmv_res31 = remove_cons_dup(lst31)

In [ ]:
lst31 = rmv_idx_res31
res31_sort_new = res31_sort[res31_sort.index.isin(lst31)]

In [ ]:
res31_sort_new_stop = res31_sort_new[ ( res31_sort_new['Class_Name'] == 'stop' ) ]   ##    3985 stop values
res31_sort_new_stop

      Camera_Area_ID Class_Name        Date      Time Camera_Name
0                 42       stop  2023-01-31  23:59:59        25号機
226               42       stop  2023-01-31  09:49:20        25号機
285               43       stop  2023-01-31  09:51:07        25号機
287               43       stop  2023-01-31  09:28:36        25号機
381               43       stop  2023-01-31  02:17:19        25号機
389               44       stop  2023-01-31  07:07:26        25号機
423               45       stop  2023-01-31  12:39:15        25号機
426               45       stop  2023-01-31  09:52:25        25号機
549               46       stop  2023-01-31  08:39:55        25号機
641               47       stop  2023-01-31  20:00:15        25号機
654               47       stop  2023-01-31  09:43:59        25号機
900               48       stop  2023-01-31  10:01:28        25号機
970               48       stop  2023-01-31  08:21:42        25号機
972               48       stop  2023-01-31  08:20:01        25号機
975               48       stop  2023-01-31  08:08:27        25号機
980               49       stop  2023-01-31  11:03:39        25号機
1122              49       stop  2023-01-31  06:32:01        25号機
1125              50       stop  2023-01-31  09:59:52        25号機
1127              50       stop  2023-01-31  09:54:51        25号機
1156              50       stop  2023-01-31  01:35:49        25号機
1160              51       stop  2023-01-31  10:00:22        25号機
1163              51       stop  2023-01-31  06:00:03        25号機
1426              53       stop  2023-01-31  09:59:05        25号機

In [ ]:
res31_sort_new.to_excel('Jan31.xlsx')

In [ ]:
res31_sort_new.shape

(47, 5)

In [ ]:
if files.startswith("Dec"):
  from google.colab import files
  files.download('/content/23号機_data/README.md')
  !zip -r /content/23号機_data.zip /content/23号機_data

AttributeError: ignored

In [ ]:
path = os.getcwd()
files = os.listdir(path)
files

['.config',
 'Jan27.xlsx',
 '2023-01-27.xlsx',
 '2023-01-09.xlsx',
 '2023-01-26.xlsx',
 'Jan6.xlsx',
 'Jan_final23号機.xlsx',
 '2023-01-18.xlsx',
 '2023-01-12.xlsx',
 'Jan30.xlsx',
 'Jan23.xlsx',
 '2023-01-17.xlsx',
 '2023-01-19.xlsx',
 'Jan24.xlsx',
 '2023-01-30.xlsx',
 '2023-01-24.xlsx',
 'Jan31.xlsx',
 'Jan20.xlsx',
 '2023-01-16.xlsx',
 '2023-01-23.xlsx',
 'Jan16.xlsx',
 'Jan18.xlsx',
 'Jan11.xlsx',
 'Jan9.xlsx',
 '2023-01-10.xlsx',
 '2023-01-20.xlsx',
 '2023-01-31.xlsx',
 'Jan10.xlsx',
 '2023-01-11.xlsx',
 '2023-01-06.xlsx',
 '2023-01-25.xlsx',
 '19Jan.xlsx',
 'Jan_final22号機.xlsx',
 'Jan25.xlsx',
 'Jan17.xlsx',
 'Jan26.xlsx',
 'Jan12.xlsx',
 '2023-01-13.xlsx',
 'Jan13.xlsx',
 'sample_data']

In [ ]:
files_xlsx = [f for f in files if (f.endswith('.xlsx') & f.startswith('Dec'))]
files_xlsx

['Dec3.xlsx',
 'Dec14.xlsx',
 'Dec22.xlsx',
 'Dec19.xlsx',
 'Dec5.xlsx',
 'Dec13.xlsx',
 'Dec26.xlsx',
 'Dec20.xlsx',
 'Dec1.xlsx',
 'Dec24.xlsx',
 'Dec12.xlsx',
 'Dec27.xlsx',
 'Dec16.xlsx',
 'Dec21.xlsx',
 'Dec23.xlsx',
 'Dec2.xlsx',
 'Dec15.xlsx']

In [ ]:
from google.colab import files
files.download("/file.zip")

FileNotFoundError: ignored

In [ ]:
import pandas as pd
import glob

In [ ]:
path = "C:\タスク\東洋精鋼\Dec23号機"

In [ ]:
file_list = glob.glob(path + "/*.xlsx")

In [ ]:
excl_list = []

In [ ]:
for file in file_list:
    excl_list.append(pd.read_excel(file))

In [ ]:
excl_merged = pd.DataFrame()

In [ ]:
for excl_file in excl_list:

    # appends the data into the excl_merged
    # dataframe.
    excl_merged = excl_merged.append(
      excl_file, ignore_index=True)

In [ ]:
excl_merged.to_excel('device23.xlsx', index=False)

In [ ]:
pd.concat([res1,res2,res3,res5,res12,res13,res14,res15,res16,res17,res19.res20.res21.res22.res23.res24.res26.res27],ignore_index = True)

NameError: ignored

Eithu

In [ ]:
import pandas as pd

In [ ]:
from google.colab import files

uploaded = files.upload()

In [ ]:
files = ['Jan31.xlsx','Jan9.xlsx','Jan10.xlsx','Jan11.xlsx','Jan12.xlsx','Jan13.xlsx','Jan16.xlsx','Jan17.xlsx','Jan18.xlsx','Jan20.xlsx','Jan23.xlsx','Jan24.xlsx','Jan25.xlsx','Jan26.xlsx','Jan27.xlsx','Jan30.xlsx','Jan6.xlsx']

In [ ]:
files = ['Dec1.xlsx','Dec2.xlsx','Dec3.xlsx','Dec5.xlsx','Dec12.xlsx','Dec13.xlsx','Dec14.xlsx','Dec15.xlsx','Dec16.xlsx','Dec17.xlsx','Dec19.xlsx','Dec20.xlsx','Dec21.xlsx','Dec22.xlsx','Dec23.xlsx','Dec27.xlsx']

In [ ]:
df_list = []

In [ ]:
for file in files:
    xls = pd.read_excel(file, sheet_name=None)
    for sheet_name, df in xls.items():
        df_list.append(df)

In [ ]:
final_df = pd.concat(df_list)

In [ ]:
final_df.to_excel('Jan_final25号機.xlsx', index=False)

In [ ]:
df4 = pd.read_excel('final2号機.xlsx')

In [ ]:
df4

       Unnamed: 0  Camera_Area_ID Class_Name        Date      Time Camera_Name
0               0               1       stop  2022-12-01  23:59:59        23号機
1             246               1       stop  2022-12-01  11:09:18        23号機
2             249               1       stop  2022-12-01  11:08:32        23号機
3             252               1       stop  2022-12-01  11:07:48        23号機
4             255               1       stop  2022-12-01  11:06:48        23号機
...           ...             ...        ...         ...       ...         ...
34066       43793              28       stop  2022-12-27  00:03:56        23号機
34067       43796              28     moving  2022-12-27  00:02:50        23号機
34068       43797              28       stop  2022-12-27  00:02:33        23号機
34069       43802              28     moving  2022-12-27  00:00:38        23号機
34070       43803              28       stop  2022-12-27  00:00:23        23号機

[34071 rows x 6 columns]

In [ ]:
import numpy as np
# create a sample dataframe with 10,000 rows and a single "values" column
df4 = pd.DataFrame({'values': np.random.randint(0, 100, 200000)})
# convert the "values" column to a list
values_list = final_df['Time'].tolist()
# print the resulting list
print(values_list[:10])

['23:59:59', '11:09:18', '11:08:32', '11:07:48', '11:06:48', '11:06:18', '11:05:20', '11:03:20', '10:53:50', '10:48:32']

In [ ]:
# sample dataframe with a "time" column
df = pd.DataFrame({'time': ['2021-01-01 09:00:00', '2021-01-01 09:15:00', '2021-01-01 09:30:00',
                            '2021-01-01 09:45:00', '2021-01-01 10:00:00']})

# convert the time column to datetime format
df['time'] = pd.to_datetime(df['time'])

# create a column for elapsed time
df['elapsed_time'] = df['time'] - df['time'].iloc[0]

# print the resulting dataframe
print(df)